<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Geolocation</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content>

      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Latitude - {{geoLoactionInfo?.coords?.latitude}}  <br>
            Longitude - {{geoLoactionInfo?.coords?.longitude}}
          </ion-card-title>          
        </ion-card-header>

        <ion-card-content>
          Time -
          {{geoLoactionInfo?.timestamp}}
        </ion-card-content>
      </ion-card>

     
</ion-content>